<top-nav (termUpdated)="search($event)"></top-nav>
<div class="container">

	<div class="row" >
		<div class="col-xs-7 card-table-header">
			<div class="col-xs-5 text-center card-table-header-field m-l-25" id="title-header" (click)="sortBy('title')">Title</div>
			<div class="col-xs-5 text-center card-table-header-field"  id="artist-header" style="margin-left: -25px" (click)="sortBy('artist')">Artist</div>
		</div>
	</div>

	<div class="col-xs-7" *ngIf="searchableList && searchableList.length > 0">
		<div class="card-table-container">
			<div class="card-table">
				<div  class="card row" *ngFor="let track of searchableList" (click)="setSelected(track)" [ngClass]="{ 'selected': track.is_selected }">
					<div class="col-md-5 col-sm-12 text-center">
						<p class="big row-text" id="title">{{track.title}}</p>
					</div>
					<div class="col-md-5 col-sm-12 text-center"><p class="big row-text" id="artist">{{track.artist}}</p></div>
					<div class="col-md-2 col-sm-12 text-center"><img [src]="track.image" style="width: 100px; height: 100px; border: 1px solid black;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-7" *ngIf="searchableList && searchableList.length < 1">
		<div class="alert alert-info m-t-25 text-center">
			<span class="text-info text-center">
				No titles or artists matching search criteria
			</span>
		</div>
	</div>

	<div class="col-xs-5 text-center" *ngIf="selected" id="sidebar">
		<div class="card-static-container">
			<div class="card-static">
				<div class="card-static-face" [innerHtml]="selected.snippet"></div>
			</div>
		</div>
	</div>

</div>