<div class="container">
	<h1>{{title}}</h1>

	<div class="row">
		<div class="col-xs-8">
			<div class="col-xs-5 text-center clickable" (click)="sortTitle()">Title</div>
			<div class="col-xs-5 text-center clickable">Artist</div>
		</div>
	</div>

	<div class="col-xs-7">
		<div class="card-table-container">
			<div class="card-table">
				<div  class="card row" *ngFor="let track of playList" (click)="setSelected(track)" [ngClass]="{ 'selected': track.is_selected }">
					<div class="col-xs-5 text-center">{{track.title}}</div>
					<div class="col-xs-5 text-center">{{track.artist}}</div>
					<div class="col-xs-2"><img [src]="track.image" style="width: 100px; height: 100px"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="card col-xs-offset-1 col-xs-4 text-center" *ngIf="selected">
		<div class="row">
			<img style="border: 5px solid black; max-width: 350px; max-height: 350px" [src]="selected.image">
		</div>
		<div class="row">
			<span>{{selected.title | uppercase}}</span><br>
			<span>{{selected.artist | uppercase}}</span>
		</div>
	</div>
</div>